{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    "semi": "error",
    "camelcase": 1,
    "no-console": "warn",
    "comma-dangle": "off",
    "indent": ["error", 2],
    "prefer-const": ["error"]
  }
}